
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #8b3333;
    color: #fff;
    padding-block: 0;
    /* position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;  */
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: orange;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }
}